.side-nav-style {
  border-left: 3px solid #000;
  padding-left: 10px;
}

.list-group-item.active {
  z-index: 2;
  color: #1F4886;
  background-color: transparent;
  border-color: transparent;
}

.list-group-item {
  /* color: #545960; */
  padding: 12px 0;
  color: #545960;
  display: block;
  text-decoration: none;
  font-size: 0.875em;
  border-bottom: 1px solid transparent;
  border: 1px solid transparent;
}

.list-group-item:hover {
  color: #1F4886;
  border: 1px solid transparent;
  border-bottom-color: #1F4886;
  cursor: pointer;
}

a {
  transition: 0.5s;
}
