.switch-container {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;

  &__checkbox {
    opacity: 0;
    width: 0;
    height: 0;

    &:checked + .switch-container__slider {
      background-color: #2196F3;
    }

    &:focus + .switch-container__slider {
      box-shadow: 0 0 1px #2196F3;
    }

    &:checked + .switch-container__slider:before {
      -webkit-transform: translateX(26px);
      -ms-transform: translateX(26px);
      transform: translateX(26px);
    }
  }

  &__slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;

    &:before {
        position: absolute;
        content: "";
        height: 26px;
        width: 26px;
        left: 4px;
        bottom: 4px;
        background-color: white;
        -webkit-transition: .4s;
        transition: .4s;
    }

    &_round {
      border-radius: 34px;

      &:before {
        border-radius: 50%;
      }
    }
  }
}
